<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/docAppointment.css">
     <title>Hey Doc!</title>
    <link rel = "icon" href = "/logo.PNG" 
        type = "image/x-icon">
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
      <a class="navbar-brand" href="#">
        <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
       Hey Doc!
      </a>

        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/auth/doctor/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/doctor/patients">My Patients</a>
            </li>
            
           
          </ul>
          <ul class="nav ">
          <li class="mr-2 weavy-notifications"><img src="https://img.icons8.com/carbon-copy/45/000000/bell.png"/></li>
          <li class="mr-2 weavy-messenger"><img src="https://img.icons8.com/fluent/35/000000/facebook-messenger.png"/></li>
          <li class="nav-item dropdown mr-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             @ username
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="#">Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
          
          </ul>

        </div>
      </nav>
      <br/>

      <div class="mycontainer">
      	<div class="heading">
      	<h1>My Appointments</h1>
      	<br/>
      	<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" href="#">Active</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Upcoming</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Previous</a>
		  </li>
		  
		</ul>
      </div>
      	
      </div>



</body>