<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/docAppointment.css">
     <title>Hey Doc!</title>
    <link rel = "icon" href = "/logo.PNG" 
        type = "image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://localhost:44323/javascript/weavy.jquery.js"></script>    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
      <a class="navbar-brand" href="#">
        <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
       Hey Doc!
      </a>

        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/auth/patient/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/patient/appointments">My Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/patient/Doctors">My Doctors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/patient/files">My Files</a>
            </li> 
            
           
          </ul>
          <ul class="nav ">
          <!-- notifications -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-bottom:  5px">
             <img src="https://img.icons8.com/carbon-copy/45/000000/bell.png"/>
            </a>
            <div class="dropdown-menu" id="notifications" aria-labelledby="navbarDropdown" style="height: 400px;width: 300px">
              </div>
          </li>
          <!-- messenger -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
             <img src="https://img.icons8.com/fluent/35/000000/facebook-messenger.png"/>
            </a>
            <div class="dropdown-menu" id="messenger" aria-labelledby="navbarDropdown" style="height: 400px;width: 280px">
              </div>
          </li>
          <!-- profile options -->
          <li class="nav-item dropdown mr-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             @ <%=user.username%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/auth/patient/profile">Profile</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="#">Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/auth/patient/logout">Logout</a>
            </div>
          </li>
          
          </ul>

        </div>
      </nav>
      <br/>

      <div class="mycontainer">
      	<div class="heading">
      	<h1>My Appointments</h1>
      	<br/>
      	<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <a class="nav-link active" href="#">Active</a>
        
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Upcoming</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Previous</a>
		  </li>
		  
		</ul>
      </div>
      	
      </div>

      
      <!-- script for weavy components -->
    <script type="text/javascript">
        var userdata  = <%- JSON.stringify(user)%> ;
        var weavy = new Weavy({ jwt: userdata.jwt });
        var space = weavy.space({ key: userdata.username });
        space.app({key: "posts-demo",type: "posts",container: "#weavy-container"});
        space.app({ key: "main-messenger", type: "messenger", container: "#messenger"});
        space.app({ key: "main-notifications", type: "notifications", container: "#notifications"});  
    </script>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  


</body>