<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/docDashboard.css">
     <title>Hey Doc!</title>
    <link rel = "icon" href = "/logo.PNG" 
        type = "image/x-icon">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://localhost:44323/javascript/weavy.jquery.js"></script>    
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd">
      <a class="navbar-brand" href="#">
        <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
       Hey Doc!
      </a>

        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/auth/patient/dashbaord">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/patient/Appointments">My Appointments</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/patient/Doctors">My Doctors</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="/auth/patient/files">My Files</a>
            </li> 
            
           
          </ul>
          <ul class="nav ">
          <!-- notifications -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-bottom:  5px">
             <img src="https://img.icons8.com/carbon-copy/45/000000/bell.png"/>
            </a>
            <div class="dropdown-menu" id="notifications" aria-labelledby="navbarDropdown" style="height: 400px;width: 300px">
              </div>
          </li>
          <!-- messenger -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
             <img src="https://img.icons8.com/fluent/35/000000/facebook-messenger.png"/>
            </a>
            <div class="dropdown-menu" id="messenger" aria-labelledby="navbarDropdown" style="height: 400px;width: 280px">
              </div>
          </li>
          <!-- profile options -->
          <li class="nav-item dropdown mr-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%= user.username%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/auth/patient/profile">Profile</a>
              <a class="dropdown-item" href="#">Edit Profile</a>
              <a class="dropdown-item" href="#">Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Logout</a>
            </div>
          </li>
          
          </ul>

        </div>
      </nav>
      <br/>
      <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
                  aria-label="Search">
              </form>

      <div class="mycontainer">
       <div class="jumbotron" style="width: 600px; margin-left: 10px;height: 430px">
          <h1 class="display-7">My Appointments</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="/auth/patient/Appointments" role="button">View All</a>
        </div>  
        <div class="jumbotron" style="width: 850px; margin-left: 10px;height: 430px">
          <h1 class="display-7">Check out whats happening in the doctor's community!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">View More</a>
        </div> 

        

      </div> 
      <div class="jumbotron" style="width: 850px; margin-left: 43px;height: 430px">
          <h1 class="display-7">COVID 19 UPDATES</h1>
          <p class="lead">During the present novel coronavirus (COVID-19) pandemic, those on the front lines—including health care professionals, researchers, and government experts—need quick, easy access to real-time critical data.</p>
          <hr class="my-4">
          <p>To know the covid data for all countries press View More</p>
          <br>
          <a class="btn btn-primary btn-lg" href="https://covid19.who.int/" target="_blank" role="button">View More</a>
      </div> 
       
        <footer class="footer">
          <p style="margin: 0;padding: 5px">Made by Gorrila Gang<br></p>
        </footer>
    
    <!-- script for weavy components -->
    <script type="text/javascript">
        var userdata  = <%- JSON.stringify(user)%> ;
        var token = userdata.jwt;
        var weavy = new Weavy({ jwt: token });
        var space = weavy.space({ key: userdata.username });
        space.app({key: "posts-demo",type: "posts",container: "#weavy-container"});
        space.app({ key: "main-messenger", type: "messenger", container: "#messenger"});
        space.app({ key: "main-notifications", type: "notifications", container: "#notifications"});
    </script>

    <!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>  
</body>
</html>