<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/doctorsignup.css">
    <title>Hey Doc!</title>
     <link rel = "icon" href = "/logo.png" 
        type = "image/x-icon"> 
</head>
<body>  
    <div class="header">
        <p>I already have an account</p>
        <a href="/auth/login" class="btn btn-sm btn-primary">Login</a>
    </div>
    <h3 class="text-center">Fill the form below to create a new account</h3>  
    <div class="doctor-signup" style="border-radius: 5px">
        
    <form class="doctor-signup-form" >
        <div class="form-row">
        <div class="form-group col-md-6">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group col-md-6">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        </div>

        <div class="form-row">
            <div class="col">
                <label for="Name">Full Name</label>
              <input type="text" class="form-control" placeholder="Your Name">
            </div>
            <div class="col">
                <label for="Name">Give a username</label>
              <input type="text" class="form-control" placeholder="Username">
            </div>
          </div>
   
          <h5>Address Details: </h5>
          <div class="form-group">
            <label for="inputAddress">Address 1</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="Street/Area">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState" class="form-control">
                <option selected>Choose...</option>
                <option>Rajasthan</option>
                <option>Bihar</option>
                <option>Delhi</option>
                <option>Uttar Pradesh</option>

              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
            <div class="form-row">
                
            </div>
          </div>
          
      
      
        <h5>Contact Info: </h5>
        
        <div class="form-row">
        <div class="form-group col-md-6">
            
            <input type="text" class="form-control" id="Phone Number" placeholder="Personal Phone">
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="Phone Number" placeholder="Other Phone(Optional)">
        </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     
</body>
</html>