body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: auto;
    background-image: url('./dashbaord_image.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.patSearchForm{
	margin-left: 40px;
	margin-right: 40px;
	background-color: whitesmoke;
	display: flex;
	padding: 10px;
	display: block;
	border-radius: 5px;
}
.mycontainer{
	margin: 20px;
	padding: 10px;
	width: auto;
	display: flex;
}
.jumbotron{
	background-color: whitesmoke;
}

.footer{
	background-color: #e3f2fd;
	margin: 0 !important;
	padding: 0;
}

