body {
    margin: 0;
    border: 0;
    height: 100%;
    width: 100%;
    background-image: url('./dashbaord_image.png');
    background-repeat: no-repeat;
    background-size: cover;

}
.patSearchForm{
	margin-left: 40px;
	margin-right: 40px;
	background-color: whitesmoke;
	display: flex;
	padding: 10px;
	display: block;
}
.patdashboard{
	display: flex;
	justify-content: space-around;
}
.jumbotron{
	box-shadow: 5px beige !important;
}
.mycontainer{
	padding: 10px;
	width: auto;
	display: flex;
}
.jumbotron{
	background-color: whitesmoke;
}

.footer{
	background-color: #e3f2fd;
	margin: 0 !important;
	padding: 0;
}
#messenger{
	right: 20% !important;
}