
.patprofile > .image-area > img {
    width: 220px;
    height: 210px;
    border-radius: 50%;
}
.image-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://cdn.hipwallpaper.com/i/32/21/RAh3ga.jpg');
    background-size: cover;
    padding-top: 80px;
    color: white;
}
.address,.contact{
    display: flex;
    align-items: center;
}